body { font-size: 14px }

@page { size: letter landscape; margin: 0.75in }

@media print {
    nav { display: none }
    section {page-break-before: always;}
}

table, th, td {
    border: 1px solid black;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}